.at_a_glance_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-grow: 1;
  padding-bottom: 20px;
  transform-origin: center;
}

.at_a_glance_grade {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 500;
}
