.loadingStatus.statusIndicator {
  animation-name: StatusIndicatorPulse;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes StatusIndicatorPulse {
  0% {
    opacity: 1;
    
  }
   50% {
    opacity: 0.5;
  }
    100% {
    opacity: 1;
  }

}