;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; @file border_router_host.cfg
;
; @brief Wi-SUN Border Router configuration file for UART cfg
;
; Group: Connectivity
; Target Device: Linux
;
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; $License: BSD3 2025$
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; 
; 
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Uart configuration used by Linux Host to connect to Wi-SUN RCP MAC
[uart-cfg] 
	;; Launchpads use USB and show up as: /dev/ttyACM0 and ACM1
	;; Solutions using an FTDI or Prolific cable use /dev/ttyUSB0 or USB1
	;; Hard serial ports are: /dev/ttyS0 to ttyS9
	devname = /dev/ttyACM0
	; NOTE: if baudrate is modified on the host side, the same should be modified on the RCP MAC side as well
	baudrate = 460800
	; we use the default flags
	flag = default

[ncp-cfg]
	;; Port opened for NCP Socket communication via wfantund or pyspinel
	port = 4902

; Uart configuration used by Linux Host to connect to Wi-SUN RCP MAC
[dhcp-cfg] 
	;; Determines if an external DHCP Server / Relay should be used or not
	external-server-enabled = false
	;; If external DHCP server is enabled, this is the IPv6 address DHCP messages will be sent to
	external-server-address = 2020:ABCD::

; Uart configuration used by Linux Host to connect to Wi-SUN RCP MAC
[radius-cfg] 
	;; Determines if an external RADIUS should be used or not
	external-server-enabled = false
	;; If external RADIUS server is enabled, this is the IPv6 address RADIUS messages will be sent to
	external-server-address = 2020:ABCD::
	;; Shared secret for communicating with the RADIUS server
    shared-secret = "topsecret"