;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; @file router_node_host.cfg
;
; @brief Wi-SUN Router Node configuration file for UART cfg
;
; Group: Connectivity
; Target Device: Linux
;
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; $License: BSD3 2025$
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; 
; 
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Uart configuration used by Linux Host to connect to Wi-SUN RCP MAC
[uart-cfg] 
	;; Launchpads use USB and show up as: /dev/ttyACM0 and ACM1
	;; Solutions using an FTDI or Prolific cable use /dev/ttyUSB0 or USB1
	;; Hard serial ports are: /dev/ttyS0 to ttyS9
	devname = /dev/ttyACM0
	; NOTE: if baudrate is modified on the host side, the same should be modified on the RCP MAC side as well
	baudrate = 460800
	; we use the default flags
	flag = default

[ncp-cfg]
	port = 4903
