[Unit]
Wants=network-online.target
After=network.target network-online.target

[Service]
EnvironmentFile=/etc/ti_wisun_webserver.conf
ExecStart=/usr/bin/node $TI_WISUN_WEBSERVER_PATH
WorkingDirectory=/usr/share/ti_wisun_webapp
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
