[Unit]
Description=Controls TI Wi-SUN FAN Web App Services
After=remote-fs.target
After=syslog.target

[Service]
ExecStart=/usr/share/ti_wisun_webapp/AM64x_wisun_webapp_service/ti_wisunfan_webapp_service.sh 1

[Install]
WantedBy=multi-user.target
