[Unit]
Description=TI Wi-SUN FAN wfanctl service
Requires=wfantund.service
After=wfantund.service

[Service]
EnvironmentFile=/etc/wfanctl.conf
ExecStart=/usr/local/bin/wfanctl $EN_WEB
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
