<script>
	/**
	 * `ti-widget-iframe-selection-behavior` propagates mouse events for widgets with 
     * embedded iframes to allow selection in the designer
	 *
	 * @polymerBehavior TiWidgetIFrameSelectionBehavior
	 */
	TiWidgetIFrameSelectionBehavior = {
        
        initIFrameListeners: function(iframe) {
            // Find the designer window object:
            // The first window that has gc.designer
            var designerWindow = window;
            while(designerWindow !== designerWindow.parent) {
                if(designerWindow.gc && designerWindow.gc.designer) {
                    break;
                }
                designerWindow = designerWindow.parent;
            }

            // Only add event listeners if valid window is found
            if(designerWindow.gc && designerWindow.gc.designer) {
                var self = this;
                iframe.contentDocument.addEventListener('mousedown', function(event) {
                    self.fire('iframe-mousedown', event);
                }, true);
    
                iframe.contentDocument.addEventListener('mouseup', function(event) {
                    self.fire('iframe-mouseup', event);
                }, true);
    
                iframe.contentDocument.addEventListener('mousemove', function(event) {
                    self.fire('iframe-mousemove', event);
                }, true);
            }

        }

    };
</script>