<dom-module id="ti-widget-status-notification-echo">
<template>
    <div id="topContainer">
        <div id="html">
        </div>
    </div>
</template>
</dom-module>

<script>
Polymer({
    is: "ti-widget-status-notification-echo",
    properties: {
        html: {
            type: Object,
            value: "",
            observer: "_htmlChanged"
        }
    },
    
    _htmlChanged: function() {
        var myHtml = this.html;
        
        if (Array.isArray(this.html)) {
            myHtml = "";
            this.html.forEach(function(line) {
                myHtml += line;
            }.bind(this));
        }
        
        Polymer.dom(this.$.html).innerHTML = myHtml;
    }
});
</script>
        