
	html .navy-theme {
		font-family: 'Roboto', sans-serif;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		font-weight: 400;
		font-size: 14px;
    }
    html .navy-theme .no-select {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Safari */
         -khtml-user-select: none;   /* Konqueror HTML */
           -moz-user-select: none;   /* Firefox */
            -ms-user-select: none;   /* Internet Explorer/Edge */
                user-select: none;  /* Non-prefixed version, currently
                                       supported by Chrome and Opera */
    }
	html .navy-theme .font-special {
		font-family: 'Roboto', sans-serif;
	}
	html .navy-theme iron-header-panel {
		height: 100%;
	}
	html .navy-theme iron-header-panel[mode=cover] #mainContainer {
		left: 70px;
	}
	html .navy-theme .iron-header {
		height: 60px;
		font-size: 18px;
		/* Brian: removed: padding: 0 10px; */
		transition: height 0.2s;
		background-color: #20405A;
		color: #fff;
	}
	html .navy-theme .iron-header a {
		color: #fff;
	}
	html .navy-theme .iron-header paper-item {
		font-size: 18px;
	}
	html .navy-theme .iron-header.tall {
		height: 180px;
	}
	html .navy-theme .iron-header.medium-tall {
		height: 120px;
	}
	html .navy-theme .iron-header iron-menu-button a {
		color: #444;
	}
	html .navy-theme .wrapper {
		text-align: center;
	}
	html .navy-theme section {
		text-align: left;  /* Brian: padding and alignment causes problems for many non-paper components */
		padding: 0px 0px;
	}
	html .navy-theme .ti-banner {
		background-color: black;
	}
	html .navy-theme section[hero] {
		background-color: #f5fcff;
	}
	html .navy-theme h1,
	html .navy-theme h2,
	html .navy-theme h3,
	html .navy-theme h4,
	html .navy-theme h5,
	html .navy-theme h6 {
		font-weight: 400;
		margin: 0px;
		padding: 0px;
	}
	html .navy-theme h1,
	html .navy-theme h3,
	html .navy-theme h5 {
		font-family: 'Roboto', sans-serif;
	}
	html .navy-theme h1 {
		color: #003;
		font-size: 2em;
		margin: 5px 0px;
	}
	html .navy-theme h2 {
		color: #003;
		font-size: 1.6em;
		margin: 3px 0px;
	}
	html .navy-theme h3 {
		color: #003;
		font-size: 1.4em;
		margin: 2px 0px;
	}
	html .navy-theme h4 {
		color: #003;
		font-size: 1.2em;
	}
	html .navy-theme h5 {
		color: #003;
	}
	html .navy-theme h6 {
		color: #003;
	}
	html .navy-theme a {
		color: #003;
	}
	html .navy-theme a:hover {
	    color: #c00;
		text-decoration: underline;
	}
	html .navy-theme [autofocus] {
		color: #20405A;
	}
	html .navy-theme ti-tile-title #titleDiv,
	html .navy-theme ti-tile-title #containerDiv {
		background-color: #20405A !important;
		color: #fff !important;
	}
	html .navy-theme ti-widget-button:not(.idunno),
	html .navy-theme paper-button {
		margin: 2px;
		color: #4080B4;
	}
	html .navy-theme ti-widget-button[disabled]:not(#idunno),
	html .navy-theme paper-button[disabled]:not(#idunno) {
		color: #f0f0f0 !important;
		background-color: #e0e0e0 !important;
	}
	html .navy-theme ti-widget-button[raised]:not(.idunno),
	html .navy-theme paper-button[raised] {
		background-color: #20405A;
		color: #fff;
	}
	html .navy-theme ti-widget-button[primary],
	html .navy-theme paper-button[primary] {
		color: #c00 !important;
	}
	html .navy-theme ti-widget-button[primary][raised],
	html .navy-theme paper-button[primary][raised] {
		background-color: #c00 !important;
		color: #fff !important;
	}
	html .navy-theme ti-widget-button[secondary],
	html .navy-theme paper-button[secondary] {
		color: #4080B4 !important;
	}
	html .navy-theme ti-widget-button[secondary][raised],
	html .navy-theme paper-button[secondary][raised] {
		background-color: #20405A !important;
		color: #fff !important;
	}
	html .navy-theme ti-widget-button[success],
	html .navy-theme paper-button[success] {
		color: #4080B4 !important;
	}
	html .navy-theme ti-widget-button[success][raised],
	html .navy-theme paper-button[success][raised] {
		background-color: #20405A !important;
		color: #fff !important;
	}
	html .navy-theme ti-widget-button[info],
	html .navy-theme paper-button[info] {
		color: #4080B4 !important;
	}
	html .navy-theme ti-widget-button[info][raised],
	html .navy-theme paper-button[info][raised] {
		background-color: #20405A !important;
		color: #fff !important;
	}
	html .navy-theme ti-widget-button[warning],
	html .navy-theme paper-button[warning] {
		color: #4080B4 !important;
	}
	html .navy-theme ti-widget-button[warning][raised],
	html .navy-theme paper-button[warning][raised] {
		background-color: #20405A !important;
		color: #fff !important;
	}
	html .navy-theme ti-widget-button[error],
	html .navy-theme paper-button[error] {
		color: #4080B4 !important;
	}
	html .navy-theme ti-widget-button[error][raised],
	html .navy-theme paper-button[error][raised] {
		background-color: #20405A !important;
		color: #fff !important;
	}
	html .navy-theme ti-widget-button[link],
	html .navy-theme paper-button[link] {
		color: #4080B4 !important;
	}
	html .navy-theme ti-widget-button[link][raised],
	html .navy-theme paper-button[link][raised] {
		background-color: #20405A !important;
		color: #fff !important;
	}
	html .navy-theme design-frame,
	html .navy-theme ti-widget-checkbox,
	html .navy-theme paper-checkbox {
		--paper-checkbox-checked-color: #4080B4;
		--paper-checkbox-checked-ink-color: #4080B4;
		--paper-checkbox-unchecked-color: #ccc;
		--paper-checkbox-unchecked-ink-color: #ccc;
		--paper-checkbox-label-color: #191919;
	}
	html .navy-theme ti-widget-textbox[disabled],
	html .navy-theme ti-widget-checkbox[disabled],
	html .navy-theme paper-checkbox[disabled] {
		color: #aaa !important;
	}
	html .navy-theme design-frame,
	html .navy-theme paper-menu,
	html .navy-theme paper-fab {
		--iron-icon-fill-color: currentColor;
		--paper-fab-background: #c00;
		--paper-fab-iron-icon: {
			fill: #fff;
		}
	}
	html .navy-theme design-frame,
	html .navy-theme ti-widget-floating-action-button {
		--ti-widget-floating-action-button-background: #c00;
		--ti-widget-floating-action-button-color: #fff;
	}
	html .navy-theme design-frame,
	html .navy-theme ti-widget-icon-button {
		--ti-widget-icon-button-color: #c00;
	}
	html .navy-theme ti-widget-menubar ti-widget-icon-button {
        --ti-widget-icon-button-color: #fff;
    }
	html .navy-theme iron-toolbar paper-tabs {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	html .navy-theme design-frame,
	html .navy-theme ti-widget-tabcontainer,
	html .navy-theme paper-tabs {
		--paper-tabs-selection-bar-color: #fff;
	}
	html .navy-theme design-frame,
	html .navy-theme ti-widget-tabcontainer,
	html .navy-theme paper-tab {
		--paper-tab-ink: #fff;
	}
	html .navy-theme ti-widget-dialog #headerBackground {
		color:  #fff !important;
		background-color: #20405A !important;
	}
	html .navy-theme paper-tabs,
	html .navy-theme iron-toolbar {
		background-color: #20405A; /* this controls the background color of the unselected tabs */
		color: #fff;
		-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
		box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	}
	html .navy-theme paper-tabs.transparent-teal {
		background-color: transparent;
		color: #20405A;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	html .navy-theme paper-tabs.transparent-teal {
		--paper-tabs-selection-bar-color: #20405A;
	}
	html .navy-theme paper-tabs[no-bar] paper-tab.iron-selected {
		color: #fff;
		background-color: #20405A;  /* this controls the background color of the selected tab */
		border-bottom: 1px solid #20405A;
	}
	html .navy-theme paper-toast *,
	html .navy-theme paper-tabs * {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0,0,64,0);
		-webkit-touch-callout: none;
	}
	html .navy-theme design-frame,
	html .navy-theme paper-toast {
		--paper-toast-background-color: #20405A;
		--paper-toast-color: #e0e0e0;
	}
	html .navy-theme paper-toast {
		text-align: left;
	}
	html .navy-theme design-frame,
	html .navy-theme ti-widget-toast {
		--ti-widget-toast-background-color: #20405A;
		--ti-widget-toast-color: #e0e0e0;
	}
	html .navy-theme design-frame,
	html .navy-theme paper-dropdown-menu,
	html .navy-theme ti-widget-input,
	html .navy-theme paper-input {
		--paper-input-container-color: #757575;
		--paper-input-container-focus-color: #20405A;
		--paper-input-container-invalid-color: #f60;
		--paper-input-container-input-color: #191919;
	}
	html .navy-theme .toolbar {
		color: #fff;
		background-color: #20405A;
	}
	html .navy-theme .card {
		background-color: #fff;
	}
	html .navy-theme paper-item {
		background-color: #20405A;
		color: #fff;
	}
	html .navy-theme paper-item:hover {
		background-color: #306078;
	}
	html .navy-theme paper-item.iron-selected {
		background-color: #306078;
	}
	html .navy-theme .small {
		font-size: 12px;
	}
	html .navy-theme .logo {
		font-size: 21px;
	}
	html .navy-theme .logo a {
		font-weight: 700;
		color: #fff;
	}
	html .navy-theme .inverse {
		background-color: #20405A;
		color: #fff;
	}
	html .navy-theme design-frame,
	html .navy-theme paper-progress {
		--paper-progress-active-color: #c00;
		--paper-progress-secondary-color: #20405A;
	}
	html .navy-theme design-frame,
	html .navy-theme ti-widget-radio-button,
	html .navy-theme paper-radio-button {
		--paper-radio-button-unchecked-background-color: #fff;
		--paper-radio-button-checked-color: #4080B4;
		--paper-radio-button-unchecked-ink-color: #20405A;
		--paper-radio-button-checked-ink-color: #20405A;
	}
	html .navy-theme design-frame,
	html .navy-theme ti-tile-toggleswitch,
	html .navy-theme ti-widget-toggle-button,
	html .navy-theme paper-toggle-button {
		--paper-toggle-button-unchecked-bar-color: #20405A;
		--paper-toggle-button-checked-bar-color: #20405A;
		--paper-toggle-button-unchecked-button-color: #fff;
		--paper-toggle-button-checked-button-color: #4080B4;
		--paper-toggle-button-unchecked-ink-color: #a3a3a3;
		--paper-toggle-button-checked-ink-color: #a3a3a3;
	}
	html .navy-theme design-frame,
	html .navy-theme paper-slider {
		--paper-slider-active-color: #c00;
		--paper-slider-secondary-color: #20405A;
		--paper-slider-knob-color: #c00;
		--paper-slider-pin-color: #c00;
	}
	html .navy-theme design-frame,
	html .navy-theme ti-tile-slider,
	html .navy-theme ti-tile-verticalslider,
	html .navy-theme ti-widget-slider {
		--ti-widget-slider-progress-color: #c00;
		--ti-widget-slider-tick-color: #c00;
		--ti-widget-ruler-font-color: #20405A;
	}
	html .navy-theme paper-icon-button[disabled] iron-icon {
		color: #e0e0e0 !important;
	}
	html .navy-theme ti-widget-menubar paper-button[disabled] iron.icon {
        color: #ccc !important;
    }
	html .navy-theme design-frame,
	html .navy-theme paper-spinner:not([default-spinner]) {
		--paper-spinner-layer-1-color: #20405A;
		--paper-spinner-layer-2-color: #20405A;
		--paper-spinner-layer-3-color: #20405A;
		--paper-spinner-layer-4-color: #20405A;
	}
	html .navy-theme ti-widget-menuseparator #menuSeparator {
		background-color: #888;
	}
	html .navy-theme ti-widget-menubar {
		background-color: #20405A;
		color: #fff;
	}
	html .navy-theme ti-widget-menubar .logoImage {
		background-color: #20405A;
		color: #fff;
    }
	html .navy-theme ti-widget-contextmenu .navIcon,
	html .navy-theme ti-widget-menuitem .navIcon {
		color: #fff;
	}
	html .navy-theme ti-widget-contextmenu .hovering .navIcon,
	html .navy-theme ti-widget-menuitem .hovering .navIcon {
		color: #fff;
	}
	html .navy-theme ti-widget-contextmenu .hoverMenu,
	html .navy-theme ti-widget-menuitem .hoverMenu {
		background-color: #20405A;
		color: #fff;
		border-color: #20405A;
	}
	html .navy-theme ti-widget-contextmenu .hovering,
	html .navy-theme ti-widget-menuitem .hovering {
		background-color: #306078;
		color: #fff;
		border-color: #20405A;
	}
	html .navy-theme ti-widget-menuaction li {
		color: #fff;
		background-color: #20405A;
		border-color: #20405A;
	}
	html .navy-theme ti-widget-menuitem.subMenuItem .hovering,
	html .navy-theme ti-widget-menuaction li:hover {
		background-color: #306078;
		color: #fff;
	}
	html .navy-theme ti-widget-menuaction .unenabled {
		color: #888;
		background-color: #10202D;
		border-color: #20405A;
	}
	html .navy-theme ti-widget-menuaction .unenabled:hover {
		color: #888;
		background-color: #182843;
	}
	html .navy-theme design-frame,
	html .navy-theme ti-widget-statusbar {
		--paper-progress-active-color: #c00;
		--paper-progress-secondary-color: #20405A;
	}
	html .navy-theme design-frame,
	html .navy-theme ti-widget-progressbar {
		--ti-widget-progressbar-color: #c00;
	}
	html .navy-theme ti-widget-statusbar ti-widget-status-container {
		background-color: #20405A;
		color: #fff;
	}
    html .navy-theme ti-widget-statusbar .banner {
        fill: #fff;
    }
	html .navy-theme ti-widget-analoggauge .needle {
		color: #c00;
	}
	html .navy-theme ti-widget-analoggauge .face {
		background-color: #fff;
		color: #4080B4;
	}
	html .navy-theme ti-widget-analoggauge .frame {
		color: #20405A;
	}
	html .navy-theme ti-widget-dial .pointer {
		color: #c00;
	}
	html .navy-theme ti-widget-dial .knob {
		background-color: #fff;
	}
	html .navy-theme ti-widget-dial .frame {
		background-color: #20405A;
		color: #fff;
	}
	html .navy-theme label,
	html .navy-theme ti-widget-label,
	html .navy-theme ti-widget-bitfield-header,
	html .navy-theme ti-widget-droplist,
	html .navy-theme ti-widget-numberbox,
	html .navy-theme ti-widget-spinner,
	html .navy-theme ti-widget-textbox {
		font-family: 'Roboto', sans-serif;
		background-color: transparent;
		color: #222;
	}
	html .navy-theme label[disabled],
	html .navy-theme ti-widget-label[disabled],
	html .navy-theme ti-widget-bitfield-header[disabled],
	html .navy-theme ti-widget-droplist[disabled],
	html .navy-theme ti-widget-numberbox[disabled],
	html .navy-theme ti-widget-spinner[disabled],
	html .navy-theme ti-widget-textbox[disabled] {
		color: #aaa !important;
	}
	html .navy-theme select {
		border-radius: 0px;
		font-family: 'Roboto', sans-serif;
		border: 1px solid #ccc;
		font-size: inherit;
	}
	html .navy-theme input {
		font-family: 'Roboto', sans-serif;
		font-size: inherit;
	}
	
	html .navy-theme ti-widget-filetree {
        --ti-widget-filetree-background-color: #fff;
        --ti-widget-filetree-text-color: #222;
        --ti-widget-filetree-font-size: small;
        
        --ti-widget-filetree-filesize-text-color: #888;
        --ti-widget-filetree-header-text-color: #fff;
        --ti-widget-filetree-header-background-color: #20405A;
        --ti-widget-filetree-header-font-size: normal;
        
        --ti-widget-filetree-selected-background-color: #eee;
        --ti-widget-filetree-selected-text-color: #222;
        --ti-widget-filetree-focus-background-color: #DDE9F2;
        --ti-widget-filetree-focus-text-color: #222;
        
        --ti-widget-filetree-icon-color: #ccc;
        --ti-widget-filetree-arrow-icon-color: grey;
        --ti-widget-filetree-directory-icon-color: #20405A;
        --ti-widget-filetree-progress-color: #20405A;
	}
