<script>

/** @polymerBehavior TICorePersistentSettingsBehavior */
window.TICorePersistentSettingsBehavior = 
{
	/**
	 * Hook method called by the project properties wizard to save any persistent settings associated with this transport.  This can include 
	 * default ccxml files and other information used in the designer and/or the app.
	 * The default action is to do nothing.  Override this and modify/change modelDataObj {object} as necessary to persist the model settings.    
	 */
	saveSettingsToProjectDatabase: function(modelDataObj, projectName)
	{
	    if (this.doSaveSettingsToProjectDatabase)
	    {
	        modelDataObj[this.id] = modelDataObj[this.id] || {}; 
		    return this.doSaveSettingsToProjectDatabase(modelDataObj[this.id], projectName);
	    }
	},
	
	/**
	 * Method used to load persistent settings from the project database, saved by saveSettingsToProjectDatabase().
	 */
    loadSettingsFromProjectDatabase: function(projectName)
    {
        if (gc.designer && gc.designer.newprojectwizard)
        {
            return Q({});
        }
        
        var projectPath = projectName ? gc.designer.workspace.folderName + '/' + projectName +'/' : "";
        var id = this.id;
        return gc.fileCache.readJsonFile(projectPath + 'targetsymbols.json').fail(function() 
        { 
            return {}; 
        }).then(function(properties) 
        {
            return properties[id] || {};
        });
    }
};

</script>
