<script>
/** @polymerBehavior TICoreModelNetworkBehavior */
window.TICoreModelNetworkBehavior =
{
    created: function() {
        // get the designer window
        let windowObj = window;
        while(windowObj !== windowObj.parent) {
            windowObj = windowObj.parent;
        }

        this.myWindow = windowObj;
    },
    isInDesignMode: function() {
        return (gc.designer && !(this.myWindow.global && this.myWindow.global.document && 
            this.myWindow.global.document.gc && this.myWindow.global.document.gc.designer));
    }

    // TODO - refactor common network model properties here
}
</script>