<script>

/** @polymerBehavior TICoreModelEditCompletionBehavior */
window.TICoreModelEditCompletionBehavior = 
{
    onReady: function()
    {
        var that = this;
        
        if (gc.designer && !(window.global && global.document && global.document.gc && global.document.gc.designer))
        {
            this.onTargetConnectChanged.onValueChanged = this.onTargetConnectChanged._onValueChanged.bind(this);
            this.onTargetDataReceived.onValueChanged = this.onTargetDataReceived._onValueChanged.bind(this);
            
            var model = gc.databind.registry.getModel(this.id);
            if (model)
            {
	            var bind = model.getBinding('$target_connected');
	            if (bind) 
	            {
	                bind.addChangedListener(this.onTargetConnectChanged);
	            }
	            
	            bind = model.getBinding('$rawData');
	            if (bind)
	            {
	                bind.addChangedListener(this.onTargetDataReceived);   
	            };
            }

            this.loadSettingsFromProjectDatabase().then(function(modelData) 
            {
             	that._bindingProperties = (modelData && modelData.bindings) || {};
             	that._originalProperties = (modelData && modelData.bindings) || {};
            }); 
        }
    },
    
    getAdditionalProperties : function ( prefix )
    {
    	prefix = prefix || "";
    	var pos = prefix.lastIndexOf('.');
    	var start;
    	if (pos > 0)
    	{
    		start = prefix.substring(pos + 1);
    		prefix = prefix.substring(0, pos);
    	}
    	else
    	{
    		start = prefix;
    		prefix = "";
    	}
    	var result = [];
        if (this._bindingProperties)
        {
            result = this._bindingProperties[prefix] || [];
            if (result && start.length > 0)
            {
            	var filteredResult = [];
            	for(var i = result.length; i--> 0; )
            	{
            		if (result[i].indexOf(start) === 0)
            		{
            		    filteredResult.push(result[i]);
            		}
            	}
            	result = filteredResult;
            }
        }
        return result;
    },
    attached: function()
    {
		this.async(function()
		{
           this.fire('modelReadyEvent',this);
        }.bind(this),1);
    },
    detached: function() 
    {
        if (gc.designer && !(window.global && global.document && global.document.gc && global.document.gc.designer))
        {
            var model = gc.databind.registry.getModel(this.id);
            if (model)
            {
                var bind = model.getBinding('$target_connected');
                if (bind)
                {
                    bind.removeChangedListener(this.onTargetConnectChanged);
                }

                bind = model.getBinding('$rawData');
                if (bind)
                {
                    bind.removeChangedListener(this.onTargetDataReceived);
                }
            }
        }
    },
    clearSymbolProperties: function()
    {
    	this._bindingProperties = undefined;
    },
    onTargetConnectChanged: 
    {
        _onValueChanged: function(wasConnected,isConnected )
        {
            if (isConnected) 
            {
            	this._bindingPropertiesChanged = false;
                this.clearSymbolProperties();
            }
        }	
    },
    onTargetDataReceived: 
    {
        _onValueChanged: function(oldData,newData)
        {
        	var changed = this.addSymbolProperties("", newData);
        	this._bindingPropertiesChanged = this._bindingPropertiesChanged || changed;
        	
            var transport = this.parentElement;
			if (transport && transport.addConsoleDataReceived)
			{
			    transport.addConsoleDataReceived(newData, this.channel);
			}
        }
    },
    addSymbolProperties: function(prefix, rawData) 
    {
    	this._bindingProperties = this._bindingProperties || {}

    	prefix = prefix || "";
        var list = this._bindingProperties[prefix] = this._bindingProperties[prefix] || [];
    	var changed = false;

    	for(var data in rawData)
    	{
    		if (rawData.hasOwnProperty(data))
    		{
    			var found = false
    			for(var i = list.length; i-- > 0; )
    			{
    				if (list[i] === data)
    				{
    					found = true;
    					break;
    				}
    			}
    			if (!found) 
    			{
    				list.push(data);
    				changed = true;
    			}
    			
    			var child = rawData[data];
    			if (typeof child === 'object')
    			{
    				var childPrefix = prefix.length > 0 ? prefix + '.' + data : data;
    				var result = this.addSymbolProperties(childPrefix, child);
    				changed = changed || result;
    			}
    		}
    	}
    	return changed;
    },
    doSaveSettingsToProjectDatabase: function(modelObjData, projectName)
    {
        modelObjData.bindings = this._bindingPropertiesChanged ? this._bindingProperties : this._originalProperties;
    }
};

</script>
