<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="marked-import.html">
<link rel="import" href="../ti-core-stylesheets/ti-core-stylesheets.html">
<link rel="import" href="../ti-tile-wizard/ti-tile-styles.html">

<!--
Web Component wrapper for Markdown using Polymer.

##### Example

    <mark-down>
      Hello, **world!**
    </mark-down>

or alternatively:

    <mark-down text="Hello, **world!**"></mark-down>

@element mark-down
@blurb Web Component wrapper for Markdown using Polymer.
@status alpha
@homepage http://robdodson.github.io/mark-down
-->
<dom-module id="mark-down">
  <link rel="import" type="css" href="mark-down.css">
  <template>
    <style include="ti-tile-styles">
      #markdown {
        font-family: inherit;
      }
      </style>
    <div id="markdown"></div>
  </template>
  <script>
    Polymer({
      is: 'mark-down',
      properties: {
        text: {
          notify: true,
          observer: 'textChanged'
        }
      },
      /**
       * The `text` attribute can be set to a string of Markdown
       * that you would like to see rendered
       *
       * @attribute text
       * @type string
       */
      /**
       * The `mark-down-ready` event is fired after the marked-up HTML is
       * inserted into the parent container.
       *
       * @event mark-down-ready
       */
      ready: function () {
        this.text = this.text || this.trim(Polymer.dom(this).textContent);
      },
      textChanged: function () {
          if (!marked) return;
        if (this.text === null) {
          this.set('$.markdown.innerHTML', '');
        } else {
          this.set('$.markdown.innerHTML', marked(this.text));
        }
        this.fire('mark-down-ready');
      },
      // Thanks Ryan Seddon! (https://github.com/ryanseddon/markdown-component)
      // Remove all leading/trailing whitespace so it's not confused as
      // a code block
      trim: function (str) {
        return str.replace(/^[^\S\n]+/gm, '');
      }
    });
  </script>
</dom-module>
